/* INDEX HTML THE MAIN PAGE */

#header-container {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;

	background-color: rgb(45, 45, 80);

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.header-inactive {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-o-transform: translateY(-40px);
}

.header-item {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: right;
	margin: 0 auto;
	margin-right: 5px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	font-size: 25px;
	border-radius: 10px 10px 10px 10px;
}

.header-item:hover {
	background-color: rgb(25, 25, 40);
}

.website-name {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
	font-size: 45px;
	color: white;
}

.info-block {
	z-index: 0;
	position: relative;
	left: 0;
	width: 100%;
	height: 600px;
}

.divider {
	position: relative;
	display: block;
	top: 260px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 800px;
	height: 4px;
	background-color: rgb(130, 130, 130);
}

.caption {
	position: relative;
	top: 200px;
	left: 0;
	right: 0;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 25px;
}

.intro-img {
	margin-top: 60px;
	padding-left: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

#info-intro {
	margin-top: 100px;
	background-color: rgb(100, 200, 180);
}

#info-origin {
	background-color: rgb(240, 240, 240);
}

#info-join {
	background-color: rgb(160, 160, 210);

}

.info-title {
	position: absolute;
	margin-top: 110px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 45px;
}

.info-content {
	position: absolute;
	margin-top: 220px;
	width: 800px;
	height: 400px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	line-height: 180%;
}

#footer {
	background-color: rgb(45, 45, 80);
	width: 100%;
	height: 200px;
}

.footer-block {
	margin-left: 60px;
	line-height: 170%;
	padding: 50px;
	color: white;
	float: left;
}

/* TIMELINE HTML THE TIMELINE PAGE */

.page-overlay {
	z-index: -5;
	position: absolute;
	width: 100%;
	height: 100%;
}

#timeline-container {
	z-index: 0;
	position: absolute;
	background-color: rgb(150, 220, 200);
	width: 100%;
	height: 100%;
}

.timeline-spine {
	z-index: 0;
	background-color: rgb(130, 130, 130);
	width: calc(100% - 15%);
	height: 4px;
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	top: calc(50% + 50px);
}

.timeline-element {
	z-index: 0;
	border-radius: 10px;
	float: left;
	position: relative;
	width: 150px;
	height: 150px;
	background-color: rgb(55, 55, 100);
}

.timeline-date {
	color: white;
	padding: 5px;
	position: relative;
	text-align: center;
}

.timeline-img {
	position: absolute;
	object-fit: cover;
	height: 100px;
	display: block;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}

.photo-viewer {
	z-index: -5;
	float: left;
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	opacity: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 500px;
	height: 500px;
	border-radius: 10px;
}

.photo-caption {
	line-height: 130%;
	padding: 20px;
}

.photo-view {
	margin-top: 80px;
	padding: 50px;
	z-index: 5;
	position: absolute;
	object-fit: cover;
	height: 300px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.timeline-line {
	border-left: thick solid rgb(130, 130, 130);
	z-index: -1;
	position: absolute;
}

#line-1 {
	left: 145px;
	top: 200px;
	height: calc(50% - 150px);
}

#line-2 {
	left: 295px;
	top: 415px;
	height: 100px;
}

#line-3 {
	left: 370px;
	top: 200px;
	height: calc(50% - 150px);
}

#line-4 {
	left: 520px;
	top: 415px;
	height: 100px;
}

#line-5 {
	left: 680px;
	top: 250px;
	height: calc(50% - 200px);
}

#line-6 {
	left: 750px;
	top: 415px;
	height: 100px;
}

#line-7 {
	left: 970px;
	top: 415px;
	height: 250px;
}

#line-8 {
	left: 980px;
	top: 300px;
	height: calc(50% - 250px);

}

#line-9 {
	left: 1200px;
	top: 250px;
	height: calc(50% - 200px);
}

#line-10 {
	left: 1220px;
	top: 415px;
	height: 200px;
}

#elem1 {
	top: 150px;
	left: 5%;
}

#elem2 {
	top: 450px;
	left: 5%;
}

#elem3 {
	top: 150px;
	left: 0%;
}

#elem4 {
	top: 450px;
	left: 0%;
}

#elem5 {
	top: 200px;
	left: 0%;
}

#elem6 {
	top: 500px;
	left: -5%;
}

#elem7 {
	top: 550px;
	left: 0%;
}

#elem8 {
	top: 250px;
	left: -10%;
}

#elem9 {
	top: 200px;
	left: -5%;
}

#elem10 {
	top: 400px;
	left: 80%;
}

/* GALLERY HTML THE PAGE WITH ALL THE IMAGES */




/* CONTACT HTML (OPTIONAL), THE PAGE WITH CONTACT FORM THAT DOESN'T TRULY WORK */




/* GENERIC INFORMATION */

body, html {
	min-width: 1500px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: white;
	text-decoration: none;
}