#header-container {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;

	background-color: rgb(45, 45, 80);

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.header-inactive {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-o-transform: translateY(-40px);
}

.header-item {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: right;
	margin: 0 auto;
	margin-right: 20px;
	padding: 20px;
	color: white;
	font-size: 25px;
}

.website-name {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
	font-size: 45px;
	color: white;
}

.info-block {
	z-index: 0;
	position: relative;
	left: 0;
	width: 100%;
	height: 500px;
}

.divider {
	position: relative;
	display: block;
	top: 160px;
	margin-right: auto;
	margin-left: auto;
}

.intro-img {
	margin-top: 10px;
	padding-left: 60px;
	margin-left: auto;
	margin-right: auto;
}

#info-intro {
	margin-top: 100px;
	background-color: rgb(100, 200, 180);
}

#info-origin {
	background-color: rgb(240, 240, 240);
}

#info-join {
	background-color: rgb(160, 160, 210);

}

.info-title {
	position: absolute;
	margin-top: 80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 45px;
}

.info-content {
	position: absolute;
	margin-top: 180px;
	width: 800px;
	height: 400px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	line-height: 170%;
}

#footer {
	background-color: rgb(45, 45, 80);
	width: 100%;
	height: 200px;
}

.footer-block {
	margin-left: 60px;
	line-height: 170%;
	padding: 50px;
	color: white;
	float: left;
}

body, html {
	min-width: 1000px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: white;
	text-decoration: none;
}